---
yaml-files:
  - '*.yml'
  - '*.yaml'
  - '.yamllint'
  - '.ansible-lint'

rules:
  anchors: enable
  braces:
    max-spaces-inside: 1
  brackets: enable
  colons:
    max-spaces-after: -1
  commas: enable
  comments:
    min-spaces-from-content: 1
    level: warning
  comments-indentation: false
  document-end: disable
  document-start:
    level: warning
  empty-lines:
    max: 1
    max-start: 0
    max-end: 1
  empty-values: disable
  float-values: disable
  hyphens: enable
  indentation: enable
  key-duplicates: enable
  key-ordering: disable
  line-length: disable
  new-line-at-end-of-file: enable
  new-lines: enable
  octal-values: enable
  quoted-strings: disable
  trailing-spaces: enable
  truthy:
    level: warning

# vim: ft=yaml:
